@model PortailReserve.ViewModel.EventViewModel

<div class="row">
    <div class="col-12 text-center titrePopUp"> Je suis disponible : </div>
</div>
@using (Ajax.BeginForm("Modifier", "Disponibilite", new AjaxOptions
{
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "partBoutonEtListeDispo",
    HttpMethod = "POST",
    OnBegin = "afficherCacherPopUp('popupDispoModif')"
}))
{
    @Html.HiddenFor(m => m.Event.Id);
    @Html.HiddenFor(m => m.Event.Debut);
    @Html.HiddenFor(m => m.Event.Fin);
    @Html.HiddenFor(m => m.Util.Id);
    @Html.HiddenFor(m => m.Dispo.Id)

    <div class="row toutePeriode">
        <div class="col-6 text-right">
            @Html.CheckBoxFor(m => m.Dispo.TouteLaPeriode, new { id = "touteLaPeriodeModif", @class = "checkBox" })
        </div>
        @Html.LabelFor(m => m.Dispo.TouteLaPeriode, "Toute la période", new { @class = "col-6 labelCheckBox" })
    </div>

    <div id="partieDateModif" style="display: block; ">
        <div class="row">
            <div class="col-6 text-right">
                Du @Html.TextBoxFor(m => m.Dispo.Debut, new
                {
                     id = "debutModif",
                     type = "date",
                     @class = "champsText",
                     min = Model.Event.Debut.ToString("yyyy-MM-dd"),
                     max = Model.Event.Fin.ToString("yyyy-MM-dd")
                 })
            </div>
            <div class="col-6">
                Au @Html.TextBoxFor(m => m.Dispo.Fin, new
                {
                     id = "finModif",
                     type = "date",
                     @class = "champsText",
                     min = Model.Event.Debut.ToString("yyyy-MM-dd"),
                     max = Model.Event.Fin.ToString("yyyy-MM-dd")
                 })
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <span id="erreurDateDispoModif" class="erreur"></span>
            </div>
        </div>
    </div>

    <input type="submit" value="Valier" id="popUpSubmitModif" style="display: none;" />
}
<div class="row">
    <div class="col-6">
        <div class="row">
            <button class="col-4 bouton boutonVert champsTextDroit" onclick="checkDateAjout(); ">
                Ajouter
            </button>
        </div>
    </div>
    <div class="col-6">
        <div class="row">
            <button class="col-4 bouton boutonRouge" onclick="afficherCacherPopUp('popupDispoModif'); "> Annuler </button>
        </div>
    </div>
</div>
