@model List<PortailReserve.Models.Evenement>

@foreach (PortailReserve.Models.Evenement e in Model)
{
    <div class="row caseEvent">
        <div class="col-8" onclick="clickOn('@e.Id'); ">
            @Html.ActionLink("Event", "Evenement", "Planning", new { id = e.Id }, new { id = e.Id, style = "display: none; " })
            <div class="row">
                <div class="col-12 titreEvent">
                    <strong> @e.Nom </strong>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    @if (e.Type.Equals("Instruction"))
                    {
                        <img src="~/Content/image/point_vert.png" alt="point vert" class="pastilleType" />
                    }
                    else if (e.Type.Equals("Stage"))
                    {
                        <img src="~/Content/image/point_bleu.png" alt="point bleu" class="pastilleType" />
                    }
                    else if (e.Type.Equals("Mission"))
                    {
                        <img src="~/Content/image/point_rouge.png" alt="point rouge" class="pastilleType" />
                    }
                    else if (e.Type.Equals("Exercice"))
                    {
                        <img src="~/Content/image/point_jaune.png" alt="point jaune" class="pastilleType" />
                    }
                    else
                    {
                        <img src="~/Content/image/point_vert.png" alt="point vert" class="pastilleType" />
                    }
                </div>
                <div class="col-9 typeEvent">
                    @e.Type
                </div>
            </div>
            @if (e.Debut.Equals(e.Fin))
            {
                <div class="row">
                    <div class="col-12 dateEvent">
                        Le @e.Debut.ToString("D", new System.Globalization.CultureInfo("fr-FR"))
                    </div>
                </div>
            }
            else
            {
                <div class="row">
                    <div class="col-12 dateEvent">
                        Du @e.Debut.ToString("D", new System.Globalization.CultureInfo("fr-FR")) au @e.Fin.ToString("D", new System.Globalization.CultureInfo("fr-FR"))
                    </div>
                </div>
            }
        </div>
        @if (ViewBag.Role < 4)
        {
            <div class="col-4">
                <img src="~/Content/image/icone_supprimer.png" alt="Supprimer" class="iconeSupp" onclick="clickOn('suppEvent_@e.Id.ToString().Substring(0,6)')" />
                <div style="display: none;">
                    @using (Ajax.BeginForm("Supprimer", "Planning", new AjaxOptions
                    {
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "aVenir",
                        HttpMethod = "POST"
                    }))
                    {
                        @Html.Hidden("typeEvent", "avenir");
                        @Html.Hidden("idEvent", e.Id)

                        <input type="submit" value="supprimer" id="suppEvent_@e.Id.ToString().Substring(0,6)" />
                    }
                </div>
            </div>
        }
    </div>
}
