@model PortailReserve.ViewModel.EventViewModel
@{
    ViewBag.Title = "Evenement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section style {
    <link rel="stylesheet" href="~/Content/CSS/event.css" />
}

<div class="container">
    <div class="row">
        <div class="col-3">
            <button class="bouton boutonBleu allWidth" onclick="clickOn('retourPlanning'); ">
                @Html.ActionLink("Retour au planning", "Index", "Planning", null, new { @class = "lienBoutonBleu", id = "retourPlanning" })
            </button>
        </div>
        @if(Model.Util.Role < 4)
        {
            <div class="col-6"></div>
            <div class="col-3">
                <button id="boutonModifier" class="boutonOrange bouton" onclick="clickOn('modifierEvent'); ">
                    @Html.ActionLink("Modifier", "Modifier", "Planning", new { id = Model.Event.Id}, new { @class = "lienBoutonVert", id = "modifierEvent" })
                </button>
            </div>
        }
    </div>
</div>
@if (ViewBag.Erreur == "")
{
    <h1> @Model.Event.Nom  </h1>

    <div class="container">
        <div class="row" id="eventType">
            <div class="col-1">
                @if (Model.Event.Type.Equals("Instruction"))
                {
                    <img src="~/Content/image/point_vert.png" alt="point vert" id="pastilleType" />
                }
                else if (Model.Event.Type.Equals("Stage"))
                {
                    <img src="~/Content/image/point_bleu.png" alt="point bleu" id="pastilleType" />
                }
                else if (Model.Event.Type.Equals("Mission"))
                {
                    <img src="~/Content/image/point_rouge.png" alt="point rouge" id="pastilleType" />
                }
                else if (Model.Event.Type.Equals("Exercice"))
                {
                    <img src="~/Content/image/point_jaune.png" alt="point jaune" id="pastilleType" />
                }
                else
                {
                    <img src="~/Content/image/point_vert.png" alt="point vert" id="pastilleType" />
                }
            </div>
            <div class="col-5" id="textType">
                @Model.Event.Type
            </div>
            <div class="col-6">
                <button id="patracdr">
                    <a href="@Model.Event.Patracdr" id="lienPatrac" target="_blank">PATRACDR</a>
                </button>
            </div>
        </div>

        <div class="row" id="eventDate">
            <div class="col-12">
                Du <strong>@Model.Event.Debut.ToString("D", new System.Globalization.CultureInfo("fr-FR"))</strong> au <strong>@Model.Event.Fin.ToString("D", new System.Globalization.CultureInfo("fr-FR"))</strong>
            </div>
        </div>

        <div class="row" id="lieuEvent">
            <div class="col-12">
                <strong> Lieu : </strong> @Model.Event.Lieu
            </div>
        </div>

        <div class="row">
            <div class="col-10">
                <h2 class="titreLegend"> Informations </h2>
            </div>
        </div>
        <div class="row" id="desEvent">
            <div class="col-12">
                @Model.Event.Description
            </div>
        </div>

        @if (Model.Event.Type.Equals("Stage") || Model.Event.Type.Equals("Mission"))
        {
            <div class="row">
                <div class="col-10">
                    <h2 class="titreLegend"> Complément </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    @if (Model.Effectif != null)
                    {
                        <strong> Effectif : </strong> <span> @Model.Effectif.Officier / @Model.Effectif.SousOfficier / @Model.Effectif.Militaire </span>
                    }
                    else
                    {
                        <strong> Effectif : </strong> <span> X / X / X </span>
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <strong> Date limite de réponse : </strong> @Model.Event.LimiteReponse.ToString("D", new System.Globalization.CultureInfo("fr-FR"))
                </div>
            </div>
        }
    </div>

    <div id="partBoutonEtListeDispo">
        @{ Html.RenderAction("AfficherBoutonEtListeDispo", "Planning", new { id = Model.Event.Id }); }
    </div>
}
else
{
    <h1> @ViewBag.Erreur </h1>

}

<!--
################################################################################
#############################  Pop-Up Ajout de dispo  ##########################
################################################################################
-->
<div class="container popUp" id="popupDispo" style="display: none;">
    @{ Html.RenderAction("AfficherPopUpAjoutDispo", "Planning", new { id = Model.Event.Id }); }
</div>


<!--
################################################################################
#############################  Pop-Up modif de dispo  ##########################
################################################################################
-->
<div class="container popUp" id="popupDispoModif" style="display: none;">
    @{ Html.RenderAction("AfficherPopUpModifDispo", "Planning", new { id = Model.Event.Id }); }
</div>

@section scripts{
    <script src="~/Content/JavaScript/event.js"></script>
}
