@model PortailReserve.ViewModel.EventViewModel
@{
    ViewBag.Title = "Evenement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section style {
    <link rel="stylesheet" href="~/Content/CSS/event.css" />    
}

<div class="container">
    <div class="row">
        <div class="col-3">
            <button class="bouton" onclick="clickOn('retourPlanning'); "> 
                @Html.ActionLink("Retour au planning", "Index", "Planning", null, new { @class = "lienBouton", id = "retourPlanning" }) 
            </button>
        </div>
    </div>
</div>
@if (ViewBag.Erreur == "")
{
    <h1> @Model.Event.Nom  </h1>

    <div class="container">
        <div class="row" id="eventType">
            <div class="col-1">
                @if (Model.Event.Type.Equals("Instruction"))
                {
                    <img src="~/Content/image/point_vert.png" alt="point vert" id="pastilleType" />
                }
                else if (Model.Event.Type.Equals("Stage"))
                {
                    <img src="~/Content/image/point_bleu.png" alt="point bleu" id="pastilleType" />
                }
                else if (Model.Event.Type.Equals("Mission"))
                {
                    <img src="~/Content/image/point_rouge.png" alt="point rouge" id="pastilleType" />
                }
                else if (Model.Event.Type.Equals("Exercice"))
                {
                    <img src="~/Content/image/point_jaune.png" alt="point jaune" id="pastilleType" />
                }
            </div>
            <div class="col-5" id="textType">
                @Model.Event.Type
            </div>
            <div class="col-6">
                <button id="patracdr">
                    PATRACDR
                </button>
            </div>
        </div>

        <div class="row" id="eventDate">
            <div class="col-12">
                Du <strong>@Model.Event.Debut.ToString("D", new System.Globalization.CultureInfo("fr-FR"))</strong> au <strong>@Model.Event.Fin.ToString("D", new System.Globalization.CultureInfo("fr-FR"))</strong>
            </div>
        </div>

        <div class="row" id="lieuEvent">
            <div class="col-12">
                <strong> Lieu : </strong> @Model.Event.Lieu
            </div>
        </div>

        <div class="row">
            <div class="col-10">
                <h2 class="titreLegend"> Informations </h2>
            </div>
        </div>
        <div class="row" id="desEvent">
            <div class="col-12">
                @Model.Event.Description
            </div>
        </div>

        @if (Model.Event.Type.Equals("Stage") || Model.Event.Type.Equals("Mission"))
        {
            <div class="row">
                <div class="col-10">
                    <h2 class="titreLegend"> Complément </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    @if (Model.Effectif != null)
                    {
                        <strong> Effectif : </strong> <span> @Model.Effectif.Officier / @Model.Effectif.SousOfficier / @Model.Effectif.Militaire </span>
                    }
                    else
                    {
                        <strong> Effectif : </strong> <span> X / X / X </span>
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <strong> Date limite de réponse : </strong> @Model.Event.LimiteReponse.ToString("D", new System.Globalization.CultureInfo("fr-FR"))
                </div>
            </div>
        }

        <div id="boutonPart">
        @if (Model.Event.Type.Equals("Instruction") || Model.Event.Type.Equals("Exercice")) //Cas des intructions et exercice avec juste patticpation
        {
            if (Model.Participation == null) // le user n'a pas encore répondu
            {
                <div class="row">
                    <div class="col-6">
                        @using (Html.BeginForm("Ajouter", "Participation", FormMethod.Post))
                        {
                            @Html.HiddenFor(m => m.Event.Id);
                            @Html.HiddenFor(m => m.Util.Id)
                            <input type="hidden" value="Oui" name="participation" id="participation" />

                            <div class="row">
                                <input type="submit" value="Participe" class="bouton boutonVert col-6 champsTextDroit" />
                            </div>
                        }
                    </div>
                    <div class="col-6">
                        @using (Html.BeginForm("Ajouter", "Participation", FormMethod.Post))
                        {
                            @Html.HiddenFor(m => m.Event.Id);
                            @Html.HiddenFor(m => m.Util.Id)
                            <input type="hidden" value="Non" name="participation" id="participation" />

                            <div class="row">
                                <input type="submit" value="Ne participe pas" class="bouton boutonRouge col-6" />
                            </div>
                        }
                    </div>
                </div>
            }
            else //Le user a déjà donné une réponse, il peut tout de fois la midifier
            {
                if (Model.Participation.Participe)
                {
                    <div class="row">
                        <div class="col-12 text-center">
                            Vous avez répondu que vous participez à cet événement.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            @using (Html.BeginForm("Modifier", "Participation", FormMethod.Post))
                            {
                                @Html.HiddenFor(m => m.Event.Id);
                                @Html.HiddenFor(m => m.Util.Id)
                                <input type="hidden" value="Non" name="modifParticipation" id="modifParticipation" />

                                <div class="row">
                                    <input type="submit" value="Ne plus participer" class="bouton boutonRouge col-6 champsTextCenter" />
                                </div>
                            }
                        </div>
                    </div>
                }
                else
                {
                    <div class="row">
                        <div class="col-12 text-center">
                            Vous avez répondu que vous ne participez pas à cet événement.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            @using (Html.BeginForm("Modifier", "Participation", FormMethod.Post))
                            {
                                @Html.HiddenFor(m => m.Event.Id);
                                @Html.HiddenFor(m => m.Util.Id)
                                <input type="hidden" value="Oui" name="modifParticipation" id="modifParticipation" />

                                <div class="row">
                                    <input type="submit" value="Participer" class="bouton boutonVert col-6 champsTextCenter" />
                                </div>
                            }
                        </div>
                    </div>
                }

            }
        }
        else // cas de stage et de mission donc donner des dispos
        {
            if (Model.Dispo == null) // Le user n'a pas de dispos alors qu'elle était attendu
            {
                <div class="row">
                    <div class="col-6">

                    </div>
                    <div class="col-6">
                        @using (Html.BeginForm("Participe", "Planning", FormMethod.Post))
                        {

                        }
                    </div>
                </div>
            }
            else // le user n'a pas encore fair de mani^ou n'a pas de dispo
            {

            }
        }
        </div>
    </div>
}
else
{
    <h1> @ViewBag.Erreur </h1>
}

