@model PortailReserve.ViewModel.CreationAlbumViewModel
@{
    ViewBag.Title = "Nouvel album";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section style {
    <link rel="stylesheet" href="~/Content/CSS/souvenir.css" />
}

<div class="container">
    <div class="row">
        <div class="col-3">
            <button class="bouton boutonBleu allWidth" onclick="clickOn('retourSouvenir'); ">
                @Html.ActionLink("Retour", "Index", "Souvenir", null, new { @class = "lienBoutonBleu", id = "retourSouvenir" })
            </button>
        </div>
    </div>
</div>

<h1> Créer un nouvel album  </h1>

<div class="container">
    @using (Html.BeginForm("Ajouter", "Souvenir", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="row">
            @Html.LabelFor(m => m.Album.Titre, "Titre de l'album", new { @class = "col-12 labelMiddle" })
        </div>
        <div class="row">
            @Html.TextBoxFor(m => m.Album.Titre, null, new { @class = "col-6 champsText champsTextCenter", required = "required" })
        </div>
        <div class="row">
            <div class="col-12 erreur">
                <span id="erreurTitre"> @Html.ValidationMessageFor(m => m.Album.Titre) </span>
            </div>
        </div>

        <div class="row">
            @Html.LabelFor(m => m.Album.Description, "Description", new { @class = "col-12 labelMiddle" })
        </div>
        <div class="row">
            @Html.TextAreaFor(m => m.Album.Description, new { @class = "col-6 champsText champsTextCenter champsTextArea" })
        </div>

        <div class="row">
            <div class="col-6 champsTextCenter text-center">
                @Html.Label("photos", "Ajouter des photos", new { id = "photoLabel" })
            </div>
            @Html.TextBox("photos", null,  new { 
                type="file", 
                id="photos", 
                style="display: none;", 
                accept=".jpg, .jpeg, .png", 
                multiple = "multiple",
                required = "required"})
        </div>
        <div class="row">
            <div class="col-12 text-center" id="nombrePhotos"></div>
        </div>
        <div class="row">
            <div class="col-12 erreur">
                <span id="erreurPhotos"> </span>
            </div>
        </div>

        <div class="row" id="partiePrevisu">

        </div>

        <input type="submit" value="Créer" style="display: none;" id="creerAlbum" />
    }

    <div class="row">
        <button class="col-4 btnSubmit boutonVert" id="valideAjoutAlbum" onclick="clickOn('creerAlbum'); ajouterAlbum();" style="display: block;"> 
            Créer 
        </button>
        <img class="col-4 champsTextCenter" id="loading" src="~/Content/image/loading.gif" alt="Chargement en cours..." style="display: none;" />
    </div>
</div>

@section scripts {
    <script src="~/Content/JavaScript/albums.js"></script>
}

