@model PortailReserve.ViewModel.AlbumViewModel
@{
    ViewBag.Title = "Album";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section style {
    <link rel="stylesheet" href="~/Content/CSS/souvenir.css" />
}

<div class="container">
    <div class="row" id="boutonRetourAjout">
        <div class="col-3">
            <button class="bouton boutonBleu allWidth" onclick="clickOn('retourSouvenir'); ">
                @Html.ActionLink("Retour", "Index", "Souvenir", null, new { @class = "lienBoutonBleu", id = "retourSouvenir" })
            </button>
        </div>
        <div class="col-3 champsTextDroit">
            <button class="bouton boutonBleu allWidth text-center" onclick="afficherCacherPopUp('popUpAjoutPhoto'); clickOn('boutonAjout');">
                <span class="lienBouton lienBoutonBleu"> Ajouter des photos </span>
            </button>
            <div style="display: none;">
                @Ajax.ActionLink("Ajouter des photos", "AfficherPopUpAjouterPhoto", null, new AjaxOptions
                    {
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "popUpAjoutPhoto",
                        HttpMethod = "GET"
                    }, new { id = "boutonAjout" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3 champsTextDroit" id="boutonModifier" style="display: block;">
            <button class="bouton boutonOrange allWidth marginTopZero" onclick="modifierAlbum();">
                <span class="lienBouton lienBoutonBleu text-center"> Modifier </span>
            </button>
        </div>
        <div class="col-3 champsTextDroit" id="boutonTerminer" style="display: none;">
            <button class="bouton boutonVert allWidth" onclick="clickOn('lienBoutonTerminer');">
                @Ajax.ActionLink("Terminer", "AfficherListePhotos", new { id = Model.Album.Id }, new AjaxOptions
                   {
                       InsertionMode = InsertionMode.Replace,
                       UpdateTargetId = "listePhotos",
                       HttpMethod = "GET",
                       OnSuccess = "terminerAlbum();"
                   }, new { id = "lienBoutonTerminer", @class = "lienBouton lienBoutonVert text-center" })
            </button>
            
        </div>
    </div>
</div>

<h1> @Model.Album.Titre </h1>

<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            @Model.Album.Description
        </div>
    </div>
</div>

<div id="listePhotos" style="display: block;">
    @{ Html.RenderAction("AfficherListePhotos", new { id = Model.Album.Id }); }
</div>

<div id="listePhotosSupp" style="display: none;">
    @{ Html.RenderAction("AfficherListePhotosPourSuppression", new { id = Model.Album.Id }); }
</div>

<div class="container" id="partieTelechargement">
    <div class="row">
        <div class="col-3 selfCenter" id="boutonTelechargement" style="display: inline;">
            <button class="bouton boutonVert allWidth text-center" onclick="clickOn('lienDownload'); ">
                @Html.ActionLink("Télécharger l'album", "TelechargerAlbum",
                    new { id = Model.Album.Id },
                    new { @class = "lienBouton lienBoutonVert", id = "lienDownload"})
            </button>
        </div>
    </div>
</div>

@if (ViewBag.Role < 4)
{
    <div class="container" id="boutonSupprimer">
        <div class="row">
            <div class="col-3 selfCenter">
                <button class="bouton boutonRouge allWidth text-center" onclick="afficherCacherPopUp('popUpSuppresionAlbum'); clickOn('boutonSupp'); ">
                    <span class="lienBouton lienBoutonBleu"> Supprimer l'album </span>
                </button>
            </div>
            <div style="display: none;">
                @Ajax.ActionLink("Supprimer", "AfficherPopUpSupprimerAlbum", new { id = Model.Album.Id }, new AjaxOptions
                   {
                       InsertionMode = InsertionMode.Replace,
                       UpdateTargetId = "popUpSuppresionAlbum",
                       HttpMethod = "GET"
                   }, new { id = "boutonSupp" })
            </div>
        </div>
    </div>
}

<!--
#############################################################################################
########################## Pop Up de suppression d'un album #################################
#############################################################################################
-->

@if (ViewBag.Role < 4)
{
    <div class="container popUp" id="popUpSuppresionAlbum" style="display: none; ">
        @{ Html.RenderAction("AfficherPopUpSupprimerAlbum", new { id = Model.Album.Id }); }
    </div>
}

<!--
#############################################################################################
################################ Pop Up d'ajout de photo ###################################
#############################################################################################
-->

@if (ViewBag.Role < 4)
{
    <div class="container popUp" id="popUpAjoutPhoto" style="display: none; ">
        @{ Html.RenderAction("AfficherPopUpAjouterPhoto", new { id = Model.Album.Id }); }
    </div>
}

<!--
#############################################################################################
################################ Messages d'information #####################################
#############################################################################################
-->

<div class="container popUpSuccess" id="suppressionOk" style="display: none;">
    <div class="row">
        <div class="col-2">
            <img src="~/Content/image/icone_confirmation.png" alt="OK" class="imagePopUpSE" />
        </div>
        <div id="texteSuccess" class="col-10 text-center messageSuccess">

        </div>
    </div>
</div>

<div class="container popUpError" id="suppressionKo" style="display: none; ">
    <div class="row">
        <div class="col-2">
            <img src="~/Content/image/icone_erreur.png" alt="KO" class="imagePopUpSE" />
        </div>
        <div id="texteError" class="col-10 text-center messageError">

        </div>
    </div>
</div>

@section scripts {
    <script src="~/Content/JavaScript/albums.js"></script>
    <script src="~/Content/JavaScript/section.js"></script>
}

