@model PortailReserve.ViewModel.ListeAlbumsViewModel
@{
    ViewBag.Title = "Souvenirs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section style {
    <link rel="stylesheet" href="~/Content/CSS/souvenir.css" />
}

<div class="row">
    <div class="col-12 text-center erreur"> @ViewBag.Erreur </div>
</div>

@if (Model.NumCie != 0)
{
    <h1> Souvenir de la @Model.NumCie<span>e</span> Compagnie </h1>

    <div class="container">
        <div class="row">
            @if (ViewBag.Role < 4)
            {
                <div id="ajoutAlbum" class="col-3 champsTextDroit" style="display: block; ">
                    <button id="boutonAjoutAlbum" class="boutonBleu bouton allWidth" onclick="clickOn('lienAjoutAlbum'); ">
                        @Html.ActionLink("Ajouter un album", "Ajouter", "Souvenir", null, new { @class = "lienBouton lienBoutonBleu", id = "lienAjoutAlbum"})
                    </button>
                </div>
            }
        </div>
    </div>

    <div class="container" id="listeAlbum">
        @if (Model.Count == 0)
        {
            <div class="row">
                <div class="col-12 text-center">
                    Votre compagnie n'a pas d'album.
                </div>
            </div>
        }
        else
        {   
            <div class="row">
                @foreach(PortailReserve.Models.Album album in Model.Albums)
                {
                    <div class="col-12 col-md-5 elemAlbum selfCenter" onclick="clickOn('@album.Id')">
                        <div class="row">
                            <div class="col-8 titreElemAlbum">
                                @album.Titre
                            </div>
                            <div class="col-4 dateElemAlbum">
                                @album.Creation.ToShortDateString()
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 desElemAlbum">
                                @album.Description
                            </div>
                        </div>
                    </div>
                    @Html.ActionLink("Album", "Album", "Souvenir", new { id = album.Id }, new { id = album.Id, style = "display: none;" })
                }
            </div>
        }
    </div>
}
else
{
    <div class="container">
        <div class="row">
            <div class="col-12 text-center"> Vous n'êtes assigné à aucune compagnie </div>
        </div>
    </div>
}

