@model PortailReserve.Models.Utilisateur

<div class="row">
    <div class="col-12 text-center titrePopUp"> Suppression de @Model.Nom @Model.Prenom </div>
</div>
<div class="row">
    <div class="col-12 text-center"> Voulez vraiment supprimer le @Model.Grade @Model.Nom de votre section ? </div>
</div>
<div class="row corpsPopUp">
    <div class="col-12"> (La personne ne sera plus dans votre section, vous pourez tout de même la rajouter plus tard, si il n'est affecté à aucune autre section.)</div>
</div>
<div class="row">
    <div class="col-6">
        <div class="row">
            <button id="boutonSuppression" class="col-8 bouton boutonVert champsTextDroit text-center" 
                    onclick="afficherCacherElement('popUpSuppression'); clickOn('lienSupp'); ">
                Supprimer
            </button>
            <div id="lienSuppression" style="display: none; ">
            @Ajax.ActionLink("Supprimer", "SupprimerUtilisateurSection", "Section", new { id = Model.Id }, new AjaxOptions
                {
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "partieSection",
                    HttpMethod = "GET",
                    OnComplete = "modifierSection()",
                    OnSuccess = "messageSuccess('Suppression OK !')",
                    OnFailure = "messageError('Erreur suppression !')"
                }, new { id = "lienSupp", @class = "lienBoutonVert" });
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="row">
            <button class="col-8 bouton boutonRouge text-center" onclick="afficherCacherElement('popUpSuppression'); " >
                Annuler
            </button>
        </div>
    </div>
</div>
