@model PortailReserve.ViewModel.SuppressionSoaViewModel

<div class="row">
    <div class="col-12 text-center titrePopUp"> Suppression de @Model.Soa.Nom @Model.Soa.Prenom (SOA) </div>
</div>
<div class="row">
    <div class="col-12 text-center"> Voulez vraiment supprimer le @Model.Soa.Grade @Model.Soa.Nom, sous-officier adjoint, de votre section ? </div>
</div>
<div class="row corpsPopUp">
    <div class="col-12"> (La personne ne sera plus dans votre section, vous pourrez tout de même la rajouter plus tard, si il n'est affecté à aucune autre section.)</div>
</div>
<div class="row">
    <div class="col-6">
        <div class="row">
            <button id="boutonSuppression" class="col-8 bouton boutonVert champsTextDroit text-center" onclick="clickOn('lienSuppSoa'); ">
                Supprimer
            </button>
            <div id="lienSuppressionSoa" style="display: none; ">
                @using (Ajax.BeginForm("SupprimerSoa", "Section", new AjaxOptions
                {
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "partieSection",
                    HttpMethod = "POST",
                    OnBegin = "afficherCacherPopUp('popUpSuppressionSoa')",
                    OnComplete = "modifierSection()",
                    OnSuccess = "messageSuccess('Suppression SOA OK !')",
                    OnFailure = "messageError('Erreur suppression SOA !')"
                }))
                {
                    @Html.Hidden("idAncienSoa", Model.Soa.Id)
                    @Html.Hidden("idSection", Model.Section.Id)

                    <input type="submit" value="Supprimer" id="lienSuppSoa" />
                }
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="row">
            <button class="col-8 bouton boutonRouge text-center" onclick="afficherCacherPopUp('popUpSuppressionSoa'); ">
                Annuler
            </button>
        </div>
    </div>
</div>

<div class="row ligne-ou">
    <div class="col-12 text-center font-weight-bold">
        OU
    </div>
</div>

<div class="row">
    <div class="col-6 selfCenter">
        <button class="bouton boutonRouge allWidth text-center" onclick="clickOn('lienSuppSoaDef');">
            Supprimer définitivement
        </button>
    </div>
    <div style="display: none;">
        @using (Ajax.BeginForm("SupprimerDefinitivement", "Section", new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "partieSection",
            HttpMethod = "POST",
            OnBegin = "afficherCacherPopUp('popUpSuppressionSoa')",
            OnComplete = "modifierSection()",
            OnSuccess = "messageSuccess('Suppression définitive OK !')",
            OnFailure = "messageError('Erreur suppression définitive !')"
        }))
        {
            @Html.Hidden("idPerso", Model.Soa.Id)
            @Html.Hidden("idSection", Model.Section.Id)
            @Html.Hidden("typePerso", 2)

            <input type="submit" value="Supprimer définitivement" id="lienSuppSoaDef" />
        }
    </div>
</div>
