@model PortailReserve.ViewModel.ChangementSoaViewModel

<div class="row">
    <div class="col-12 text-center titrePopUp">
        Changer le chef de la section @Model.Section.Numero
    </div>
</div>

@using (Ajax.BeginForm("ChangementCds", "Section", new AjaxOptions
{
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "partieSection",
    HttpMethod = "POST",
    OnBegin = "afficherCacherPopUp('popUpChangementCds')",
    OnComplete = "modifierSection()",
    OnSuccess = "messageSuccess('Changement CDS OK !')",
    OnFailure = "messageError('Erreur chamgement CDS !')"
}))
{
    <div class="row">
        <div class="col-12 text-center">
            <label for="cdsExistant"> Personnels existant sans section : </label>
        </div>
    </div>
    <div class="row">
        <div class="col-6 champsTextCenter">
            @Html.DropDownList("cdsExistant", Model.SansSection, new { @class = "champsText allWidth", id = "cdsExistant" })
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center corpsPopUp">
            <strong> OU </strong>
        </div>
    </div>

    <div class="row corpsPopUp">
        <div class="col-4">
            <div class="row">
                <div class="col-2 champsTextDroit">
                    <input type="checkbox" name="creerCds" class="checkBox" id="creerCds" onchange="clickSurCreerCds();" />
                </div>
            </div>
        </div>
        <div class="col-8 champsTextCenter">
            <label for="creerCds" class="labelCheckBox"> Créer un nouveau personnel </label>
        </div>
    </div>

    <div id="creationCds" style="display: none;">
        <div class="row">
            <div class="col-12 text-center">
                <label for="gradeCds"> Grade </label>
            </div>
        </div>
        <div class="row corpsPopUp">
            <div class="col-6 champsTextCenter">
                @Html.DropDownList("gradeCds", Model.Grades, new { @class = "champsText allWidth" })
            </div>
        </div>

        <div class="row">
            <div class="col-12 text-center">
                <label for="nomCds"> Nom </label>
            </div>
        </div>
        <div class="row corpsPopUp">
            <div class="col-6 champsTextCenter">
                @Html.TextBox("nomCds", null, new { @class = "champsText allWidth", id = "nomCds" })
            </div>
        </div>

        <div class="row">
            <div class="col-12 text-center">
                <label for="prenomCds"> Prénom </label>
            </div>
        </div>
        <div class="row corpsPopUp">
            <div class="col-6 champsTextCenter">
                @Html.TextBox("prenomCds", null, new { @class = "champsText allWidth", id = "prenomCds" })
            </div>
        </div>

        <div class="row">
            <div class="col-12 text-center">
                <label for="matriculeCds"> Matricule </label>
            </div>
        </div>
        <div class="row corpsPopUp">
            <div class="col-6 champsTextCenter">
                @Html.TextBox("matriculeCds", null, new { @class = "champsText allWidth", id = "matriculeCds" })
            </div>
        </div>

        <div class="row">
            <div class="col-12 text-center">
                <label for="naissanceCds"> Date de naissance </label>
            </div>
        </div>
        <div class="row corpsPopUp">
            <div class="col-6 champsTextCenter">
                @Html.TextBox("naissanceCds", null, new { @class = "champsText allWidth", id = "naissanceCds", type = "date" })
            </div>
        </div>

        <div class="row">
            <div class="col-12 text-center">
                <label for="mailCds"> Adresse mail </label>
            </div>
        </div>
        <div class="row corpsPopUp">
            <div class="col-6 champsTextCenter">
                @Html.TextBox("mailCds", null, new { @class = "champsText allWidth", id = "mailCds" })
            </div>
        </div>
    </div>

    @Html.HiddenFor(m => m.MotDePasse)
    @Html.HiddenFor(m => m.AncienSoa.Id)
    @Html.HiddenFor(m => m.Section.Id)

    <input type="submit" value="Ajouter" id="lienAjoutCds" style="display:none;" />
}

<div class="row corpsPopUp" id="erreurAjoutCds" style="display:none; ">
    <div class="col-12 text-center erreur alertBack">
        Il y a des erreurs. Vérifiez votre saisie.
    </div>
</div>

<div id="partiePreConfirmeCds" style="display:block;">
    <div class="row">
        <div class="col-6">
            <div class="row">
                <button id="boutonChangementCds" class="col-8 bouton boutonVert champsTextDroit text-center" onclick="validerAjoutCds(false)">
                    Ajouter
                </button>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <button class="col-8 bouton boutonRouge text-center" onclick="afficherCacherPopUp('popUpChangementCds'); ">
                    Annuler
                </button>
            </div>
        </div>
    </div>
</div>

<div id="confirmationAjoutCds" style="display:none;">
    <div class="row infoValide">
        <div class="col-12 text-center">
            Le mot de passe du nouvel utilisateur est : <strong>@Model.MotDePasse</strong>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="row">
                <button id="boutonChangementCds" class="col-8 bouton boutonVert champsTextDroit text-center" onclick="validerAjoutCds(true)">
                    Confirmer
                </button>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <button class="col-8 bouton boutonRouge text-center" onclick="afficherCacherPopUp('popUpChangementCds'); ">
                    Annuler
                </button>
            </div>
        </div>
    </div>
</div>


