@model PortailReserve.ViewModel.SectionViewModel

<div class="row">
    <div class="col-12">
        @if (Model.Section.Numero == 1)
        {
            <h2 class="titreLegend"> 1ère section de la 6e Compagnie </h2>
        }
        else
        {
            <h2 class="titreLegend"> <span>@Model.Section.Numero</span>e section de la 6e Compagnie</h2>
        }
    </div>
</div>
<div class="row">
    <div class="col-6">
        <strong>Chef de section : </strong>
        <span id="grade_@Model.CDS.Id.ToString().Substring(0, 5)" class="grade" style="display: inline;">
            @{ Html.RenderAction("AfficherGrade", new { id = Model.CDS.Id }); }
        </span>
        @if (Model.Util.Role < 4)
        {
            <span class="modifGrade" style="display: none;">
                @{ Html.RenderAction("AfficherSelectGrade", new { id = Model.CDS.Id }); }
            </span>
        }
        @Model.CDS.Nom.ToUpperInvariant()
    </div>
    @if (Model.Util.Role < 4)
    {
        <div style="display: none;">
            @Ajax.ActionLink("Changer", "ModifierGrade", new { idModif = Model.CDS.Id }, new AjaxOptions
            {
               InsertionMode = InsertionMode.Replace,
               UpdateTargetId = "grade_" + Model.CDS.Id.ToString().Substring(0, 8),
               HttpMethod = "GET"
            }, new { id = "ajax_" + Model.CDS.Id.ToString().Substring(0, 8) })
        </div>
    }
</div>
<div class="row">
    <div class="col-6">
        <strong>Sous-officier adjoint : </strong>
        <span id="grade_@Model.SOA.Id.ToString().Substring(0, 5)" class="grade" style="display: inline;">
            @{ Html.RenderAction("AfficherGrade", new { id = Model.SOA.Id }); }
        </span>
        @if (Model.Util.Role < 4)
        {
            <span class="modifGrade" style="display: none;">
                @{ Html.RenderAction("AfficherSelectGrade", new { id = Model.SOA.Id }); }
            </span>
        }
        @Model.SOA.Nom.ToUpperInvariant()
    </div>
    @if (Model.Util.Role < 4)
    {
        <div style="display: none;">
            @Ajax.ActionLink("Changer", "ModifierGrade", new { idModif = Model.SOA.Id }, new AjaxOptions
            {
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "grade_" + Model.SOA.Id.ToString().Substring(0, 8),
                HttpMethod = "GET"
            }, new { id = "ajax_" + Model.SOA.Id.ToString().Substring(0, 8) })
        </div>
    }
</div>

@foreach (PortailReserve.Models.Groupe g in Model.Groupes)
{
    <div class="row">
        <div class="col-6">
            <h2 class="titreLegend titreGroupe"> Groupe @g.Numero </h2>
        </div>
    </div>

    foreach (PortailReserve.Models.Utilisateur cdg in Model.CDGs)
    {
        if (cdg.Id.Equals(g.CDG))
        {
            <div class="row">
                <div class="col-8 chefDeGroupe">
                    <strong> Chef de groupe : </strong>
                    <span id="grade_@cdg.Id.ToString().Substring(0, 5)" class="grade" style="display: inline;">
                        @{ Html.RenderAction("AfficherGrade", new { id = cdg.Id }); }
                    </span>
                    @if (Model.Util.Role < 4)
                    {
                        <span class="modifGrade" style="display: none;">
                            @{ Html.RenderAction("AfficherSelectGrade", new { id = cdg.Id }); }
                        </span>
                    }
                    @cdg.Nom.ToUpperInvariant()
                </div>
                @if (Model.Util.Role < 4)
                {
                    <div style="display: none;">
                        @Ajax.ActionLink("Changer", "ModifierGrade", new { idModif = cdg.Id }, new AjaxOptions
                        {
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "grade_" + cdg.Id.ToString().Substring(0, 8),
                            HttpMethod = "GET"
                        }, new { id = "ajax_" + cdg.Id.ToString().Substring(0, 8) })
                    </div>
                }
            </div>
        }
    }

    foreach (PortailReserve.Models.Utilisateur sdt in Model.Soldats)
    {
        if (sdt.Groupe.Equals(g.Id))
        {
            <div class="row">
                <div class="col-8 soldat">
                    @if (sdt.Id.Equals(Model.Util.Id))
                    {
                        <span class="user">
                            <span id="grade_@sdt.Id.ToString().Substring(0, 5)" class="grade" style="display:inline;">
                                @{ Html.RenderAction("AfficherGrade", new { id = sdt.Id }); }
                            </span>
                            @if (Model.Util.Role < 4)
                            {
                                <span class="modifGrade" style="display: none;">
                                    @{ Html.RenderAction("AfficherSelectGrade", new { id = sdt.Id }); }
                                </span>
                            }
                            @sdt.Nom.ToUpperInvariant()  @sdt.Prenom
                        </span>
                        if (Model.Util.Role < 4)
                        {
                            <div style="display: none;">
                                @Ajax.ActionLink("Changer", "ModifierGrade", new { idModif = sdt.Id }, new AjaxOptions
                                {
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = "grade_" + sdt.Id.ToString().Substring(0, 8),
                                    HttpMethod = "GET"
                                }, new { id = "ajax_" + sdt.Id.ToString().Substring(0, 8) })
                            </div>
                        }
                    }
                    else
                    {
                        <span>
                            <span id="grade_@sdt.Id.ToString().Substring(0, 5)" class="grade" style="display: inline;">
                                @{ Html.RenderAction("AfficherGrade", new { id = sdt.Id }); }
                            </span>
                            @if (Model.Util.Role < 4)
                            {
                                <span class="modifGrade" style="display: none;">
                                    @{ Html.RenderAction("AfficherSelectGrade", new { id = sdt.Id }); }
                                </span>
                            }
                            @sdt.Nom.ToUpperInvariant()  @sdt.Prenom
                        </span>
                        if (Model.Util.Role < 4)
                        {
                            <div style="display: none;">
                                @Ajax.ActionLink("Changer", "ModifierGrade", new { idModif = sdt.Id }, new AjaxOptions
                                {
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = "grade_" + sdt.Id.ToString().Substring(0, 8),
                                    HttpMethod = "GET"
                                }, new { id = "ajax_" + sdt.Id.ToString().Substring(0, 8) })
                            </div>
                        }
                    }
                </div>
                @if (Model.Util.Role < 4)
                {
                    <div class="col-2 iconeCol" style="display: none; ">
                        <img src="~/Content/image/icon_modif.png" alt="modifier" class="iconeModif"
                             onclick="clickOn('chgmnt_@sdt.Id.ToString().Substring(0, 8)'); afficherCacherElement('popUpChgmtGroupe'); " />
                        <div style="display: none;">
                            @Ajax.ActionLink("Changer", "AfficherPopUpChgmtGroupe", new { id = sdt.Id }, new AjaxOptions
                               {
                                   InsertionMode = InsertionMode.Replace,
                                   UpdateTargetId = "popUpChgmtGroupe",
                                   HttpMethod = "GET"
                               }, new { id = "chgmnt_" + sdt.Id.ToString().Substring(0, 8) })
                        </div>
                    </div>
                    <div class="col-2 iconeCol" style="display: none; ">
                        <img src="~/Content/image/icone_supprimer.png" alt="supprimer" class="iconeModif" 
                             onclick="clickOn('supp_@sdt.Id.ToString().Substring(0, 8)'); afficherCacherElement('popUpSuppression'); " />
                        <div style="display: none; ">
                            @Ajax.ActionLink("Supprimer", "AfficherPopUpSuppSoldat",new {  id = sdt.Id}, new AjaxOptions
                               {
                                   InsertionMode = InsertionMode.Replace,
                                   UpdateTargetId = "popUpSuppression",
                                   HttpMethod = "GET"
                               }, new { id = "supp_" + sdt.Id.ToString().Substring(0, 8) })
                        </div>
                    </div>
                }
            </div>
        }
    }
}

<div class="row">
    <div class="col-6">
        <h2 class="titreLegend titreGroupe"> Informations complémentaires </h2>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <strong> Chant compagnie : </strong> @Model.Cie.Chant
    </div>
    <div class="col-6">
        <strong> Chant section : </strong> @Model.Section.Chant
    </div>
</div>
<div class="row">
    <div class="col-6">
        <strong> Devise compagnie : </strong> @Model.Cie.Devise
    </div>
    <div class="col-6">
        <strong> Devise section : </strong> @Model.Section.Devise
    </div>
</div>
