@model PortailReserve.ViewModel.ChangementGroupeViewModel

<div class="row">
    <div class="col-12 text-center titrePopUp">
        Changement de groupe de @Model.Util.Nom @Model.Util.Prenom
    </div>
</div>
<div class="row">
    <div class="col-12 corpsPopUp">
        Choississez le groupe du @Model.Util.Grade @Model.Util.Nom :
    </div>
</div>

@using (Ajax.BeginForm("ChangerUtilisateurGroupe", "Section", new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "partieSection",
            HttpMethod = "POST",
            OnBegin = "afficherCacherPopUp('popUpChgmtGroupe')",
            OnComplete = "modifierSection()",
            OnSuccess = "messageSuccess('Changement OK !')",
            OnFailure = "messageError('Erreur changement !')"
        } ))
{
    <div class="row">
        <div class="col-12 corpsPopUp">
            <div class="row">
                @Html.DropDownList("nouveauGroupe", Model.Groupe, new
                   {
                       id = "selectGroupe",
                       @class = "col-6 champsText champsTextCenter text-center",
                       required = "required"
                   })
            </div>
        </div>
    </div>

    @Html.Hidden("idUtilChgmnt", Model.Util.Id)
    <input type="submit" value="Changer" id="lienChgmnt" style="display: none;" />
}

<div class="row">
    <div class="col-6">
        <div class="row">
            <button id="boutonChangement" class="col-8 bouton boutonVert champsTextDroit text-center" onclick="clickOn('lienChgmnt'); ">
                Changer
            </button>
        </div>
    </div>
    <div class="col-6">
        <div class="row">
            <button class="col-8 bouton boutonRouge text-center" onclick="afficherCacherPopUp('popUpChgmtGroupe'); ">
                Annuler
            </button>
        </div>
    </div>
</div>