@model PortailReserve.Models.Utilisateur

<div class="row">
    <div class="col-12 text-center titrePopUp"> Suppression de @Model.Nom @Model.Prenom </div>
</div>
<div class="row">
    <div class="col-12 text-center"> Voulez vraiment supprimer le @Model.Grade @Model.Nom de votre section ? </div>
</div>
<div class="row corpsPopUp">
    <div class="col-12"> (La personne ne sera plus dans votre section, vous pourrez tout de même la rajouter plus tard, si il n'est affecté à aucune autre section.)</div>
</div>
<div class="row">
    <div class="col-6">
        <div class="row">
            <button id="boutonSuppression" class="col-8 bouton boutonVert champsTextDroit text-center" onclick="clickOn('lienSupp'); ">
                Supprimer
            </button>
            <div id="lienSuppression" style="display: none; ">
                @using (Ajax.BeginForm("SupprimerUtilisateurSection", "Section", new AjaxOptions {
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "partieSection",
                        HttpMethod = "POST",
                        OnBegin = "afficherCacherPopUp('popUpSuppression')",
                        OnComplete = "modifierSection()",
                        OnSuccess = "messageSuccess('Suppression OK !')",
                        OnFailure = "messageError('Erreur suppression !')"
                    }))
                {
                    @Html.Hidden("idUtil", Model.Id)

                    <input type="submit" value="Supprimer" id = "lienSupp" />
                }
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="row">
            <button class="col-8 bouton boutonRouge text-center" onclick="afficherCacherPopUp('popUpSuppression'); " >
                Annuler
            </button>
        </div>
    </div>
</div>
