@model PortailReserve.ViewModel.SectionViewModel

<div class="row">
    <div class="col-12">
        @if (Model.Section.Numero == 1)
        {
            <h2 class="titreLegend"> 1ère section de la 6e Compagnie </h2>
        }
        else
        {
            <h2 class="titreLegend"> <span>@Model.Section.Numero</span>e section de la 6e Compagnie</h2>
        }
    </div>
</div>
<div class="row">
    <div class="col-3 titreCadre">
        <strong>Chef de section : </strong>
    </div>
    @if (Model.CDS.Id.Equals(Guid.Empty))
    {
        <div class="col-5"> </div>
        <div class="col-4 text-center iconeCol" style="display: none;">
            <img src="~/Content/image/icon_modif.png" alt="modifier" class="iconeModif"
                 onclick="clickOn('chgmnt_@Model.CDS.Id.ToString().Substring(0, 8)'); afficherCacherElement('popUpChangementCds'); " />
            <div style="display: none;">
                @Ajax.ActionLink("Changer", "AfficherPopUpChgmntCds", new { id = Guid.Empty, idSection = Model.Section.Id }, new AjaxOptions
                    {
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "popUpChangementCds",
                        HttpMethod = "GET"
                    }, new { id = "chgmnt_" + Model.CDS.Id.ToString().Substring(0, 8) })
            </div>
        </div>
    }
    else
    {
        <div class="col-5">
            <span id="grade_@Model.CDS.Id.ToString().Substring(0, 5)" class="grade" style="display: inline;">
                @{ Html.RenderAction("AfficherGrade", new { id = Model.CDS.Id }); }
            </span>
            @if (Model.Util.Role < 4)
            {
                <span class="modifGrade" style="display: none;">
                    @{ Html.RenderAction("AfficherSelectGrade", new { id = Model.CDS.Id }); }
                </span>
            }
            @Model.CDS.Nom.ToUpperInvariant()
        </div>
        <div class="col-2 text-center iconeCol" style="display: none;">
            <img src="~/Content/image/icon_modif.png" alt="modifier" class="iconeModif"
                 onclick="clickOn('chgmnt_@Model.CDS.Id.ToString().Substring(0, 8)'); afficherCacherElement('popUpChangementCds'); " />
            <div style="display: none;">
                @Ajax.ActionLink("Changer", "AfficherPopUpChgmntCds", new { id = Model.CDS.Id, idSection = Model.Section.Id }, new AjaxOptions
                    {
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "popUpChangementCds",
                        HttpMethod = "GET"
                    }, new { id = "chgmnt_" + Model.CDS.Id.ToString().Substring(0, 8) })
            </div>
        </div>
        <div class="col-2 text-center iconeCol" style="display: none;">
            <img src="~/Content/image/icone_supprimer.png" alt="supprimer" class="iconeModif"
                 onclick="clickOn('supp_@Model.CDS.Id.ToString().Substring(0, 8)'); afficherCacherElement('popUpSuppressionCds'); " />
            <div style="display: none;">
                @Ajax.ActionLink("Supprimer", "AfficherPopUpSuppressionCds", new { id = Model.CDS.Id, idSection = Model.Section.Id }, new AjaxOptions
                   {
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "popUpSuppressionCds",
                        HttpMethod = "GET"
                   }, new { id = "supp_" + Model.CDS.Id.ToString().Substring(0, 8) })
            </div>
        </div>
    }
</div>
<div class="row">
    <div class="col-3 titreCadre">
        <strong>Sous-officier adjoint : </strong>
    </div>
    @if (Model.SOA.Id.Equals(Guid.Empty))
    {
        <div class="col-5"> </div>
        <div class="col-4 text-center iconeCol" style="display: none;">
            <img src="~/Content/image/icon_modif.png" alt="modifier" class="iconeModif"
                 onclick="clickOn('chgmnt_@Model.SOA.Id.ToString().Substring(0, 8)'); afficherCacherElement('popUpChangementSoa'); " />
            <div style="display: none;">
                @Ajax.ActionLink("Changer", "AfficherPopUpChgmntSoa", new { id = Guid.Empty, idSection = Model.Section.Id }, new AjaxOptions
                    {
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "popUpChangementSoa",
                        HttpMethod = "GET"
                    }, new { id = "chgmnt_" + Model.SOA.Id.ToString().Substring(0, 8) })
            </div>
        </div>
    }
    else
    {
        <div class="col-5">
            <span id="grade_@Model.SOA.Id.ToString().Substring(0, 5)" class="grade" style="display: inline;">
                @{ Html.RenderAction("AfficherGrade", new { id = Model.SOA.Id }); }
            </span>
            @if (Model.Util.Role < 4)
            {
                <span class="modifGrade" style="display: none;">
                    @{ Html.RenderAction("AfficherSelectGrade", new { id = Model.SOA.Id }); }
                </span>
                        }
            @Model.SOA.Nom.ToUpperInvariant()
        </div>
        <div class="col-2 text-center iconeCol" style="display: none;"> 
            <img src="~/Content/image/icon_modif.png" alt="modifier" class="iconeModif"
                 onclick="clickOn('chgmnt_@Model.SOA.Id.ToString().Substring(0, 8)'); afficherCacherElement('popUpChangementSoa'); " />
            <div style="display: none;">
                @Ajax.ActionLink("Changer", "AfficherPopUpChgmntSoa", new { id = Model.SOA.Id, idSection = Model.Section.Id }, new AjaxOptions
                    {
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "popUpChangementSoa",
                        HttpMethod = "GET"
                    }, new { id = "chgmnt_" + Model.SOA.Id.ToString().Substring(0, 8) })
            </div>
        </div>
        <div class="col-2 text-center iconeCol" style="display: none;">
            <img src="~/Content/image/icone_supprimer.png" alt="supprimer" class="iconeModif"
                 onclick="clickOn('supp_@Model.SOA.Id.ToString().Substring(0, 8)'); afficherCacherElement('popUpSuppressionSoa'); " />
            <div style="display: none;">
                @Ajax.ActionLink("Supprimer", "AfficherPopUpSuppressionSoa", new { id = Model.SOA.Id, idSection = Model.Section.Id }, new AjaxOptions
                   {
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "popUpSuppressionSoa",
                        HttpMethod = "GET"
                   }, new { id = "supp_" + Model.SOA.Id.ToString().Substring(0, 8) })
            </div>
        </div>
    }
</div>

@foreach (PortailReserve.Models.Groupe g in Model.Groupes)
{
    <div class="row">
        <div class="col-6">
            <h2 class="titreLegend titreGroupe"> Groupe @g.Numero </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-2 chefDeGroupe titreCadre">
            <strong> Chef de groupe : </strong>
        </div>

        @if (g.CDG.Equals(Guid.Empty))
        {
            <div class="col-6 chefDeGroupe"> </div>
            <div class="col-4 iconeCol text-center" style="display: none; ">
                <img src="~/Content/image/icon_modif.png" alt="modifier" class="iconeModif"
                     onclick="clickOn('chgmnt_@g.Id.ToString().Substring(0, 8)'); afficherCacherElement('popChangementCdg'); " />
                <div style="display: none;">
                    @Ajax.ActionLink("Changer", "AfficherPopUpChangementCdg", new { id = Guid.Empty, grp = g.Id }, new AjaxOptions
                        {
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "popChangementCdg",
                            HttpMethod = "GET"
                        }, new { id = "chgmnt_" + g.Id.ToString().Substring(0, 8) })
                </div>
            </div>
        }
        else
        {
            foreach (PortailReserve.Models.Utilisateur cdg in Model.CDGs)
            {
                if (cdg != null && cdg.Id.Equals(g.CDG))
                {
                    <div class="col-6 chefDeGroupe">
                        <span id="grade_@cdg.Id.ToString().Substring(0, 5)" class="grade" style="display: inline;">
                            @{ Html.RenderAction("AfficherGrade", new { id = cdg.Id }); }
                        </span>
                        @if (Model.Util.Role < 4)
                        {
                            <span class="modifGrade" style="display: none;">
                                @{ Html.RenderAction("AfficherSelectGrade", new { id = cdg.Id }); }
                            </span>
                        }
                        @cdg.Nom.ToUpperInvariant()
                    </div>
                    <div class="col-2 iconeCol text-center" style="display: none; ">
                        <img src="~/Content/image/icon_modif.png" alt="modifier" class="iconeModif"
                             onclick="clickOn('chgmnt_@cdg.Id.ToString().Substring(0, 8)'); afficherCacherElement('popChangementCdg'); " />
                        <div style="display: none;">
                            @Ajax.ActionLink("Changer", "AfficherPopUpChangementCdg", new { id = cdg.Id, grp = g.Id }, new AjaxOptions
                                {
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = "popChangementCdg",
                                    HttpMethod = "GET"
                                }, new { id = "chgmnt_" + cdg.Id.ToString().Substring(0, 8) })
                        </div>
                    </div>
                    <div class="col-2 iconeCol text-center" style="display: none; ">
                        <img src="~/Content/image/icone_supprimer.png" alt="supprimer" class="iconeModif"
                             onclick="clickOn('supp_@cdg.Id.ToString().Substring(0, 8)'); afficherCacherElement('popSuppressionCdg'); "/>
                        <div style="display: none;">
                            @Ajax.ActionLink("Supprimer", "AfficherPopUpSuppCdg", new { id = cdg.Id, grp = g.Id }, new AjaxOptions
                               {
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = "popSuppressionCdg",
                                    HttpMethod = "GET"
                               }, new { id = "supp_" + cdg.Id.ToString().Substring(0, 8) })
                        </div>
                    </div>
                }
            }
        }
    </div>

    foreach (PortailReserve.Models.Utilisateur sdt in Model.Soldats)
    {
        if (sdt.Groupe.Equals(g.Id))
        {
            <div class="row">
                <div class="col-8 soldat">
                    @if (sdt.Id.Equals(Model.Util.Id))
                    {
                        <span class="user">
                            <span id="grade_@sdt.Id.ToString().Substring(0, 5)" class="grade" style="display:inline;">
                                @{ Html.RenderAction("AfficherGrade", new { id = sdt.Id }); }
                            </span>
                            @if (Model.Util.Role < 4)
                            {
                                <span class="modifGrade" style="display: none;">
                                    @{ Html.RenderAction("AfficherSelectGrade", new { id = sdt.Id }); }
                                </span>
                            }
                            @sdt.Nom.ToUpperInvariant()  @sdt.Prenom
                        </span>
                    }
                    else
                    {
                        <span>
                            <span id="grade_@sdt.Id.ToString().Substring(0, 5)" class="grade" style="display: inline;">
                                @{ Html.RenderAction("AfficherGrade", new { id = sdt.Id }); }
                            </span>
                            @if (Model.Util.Role < 4)
                            {
                                <span class="modifGrade" style="display: none;">
                                    @{ Html.RenderAction("AfficherSelectGrade", new { id = sdt.Id }); }
                                </span>
                            }
                            @sdt.Nom.ToUpperInvariant()  @sdt.Prenom
                        </span>
                    }
                </div>
                @if (Model.Util.Role < 4)
                {
                    <div class="col-2 iconeCol text-center" style="display: none; ">
                        <img src="~/Content/image/icon_modif.png" alt="modifier" class="iconeModif"
                                onclick="clickOn('chgmnt_@sdt.Id.ToString().Substring(0, 8)'); afficherCacherElement('popUpChgmtGroupe'); " />
                        <div style="display: none;">
                            @Ajax.ActionLink("Changer", "AfficherPopUpChgmtGroupe", new { id = sdt.Id }, new AjaxOptions
                                {
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = "popUpChgmtGroupe",
                                    HttpMethod = "GET"
                                }, new { id = "chgmnt_" + sdt.Id.ToString().Substring(0, 8) })
                        </div>
                    </div>
                    <div class="col-2 iconeCol text-center" style="display: none; ">
                        <img src="~/Content/image/icone_supprimer.png" alt="supprimer" class="iconeModif"
                                onclick="clickOn('supp_@sdt.Id.ToString().Substring(0, 8)'); afficherCacherElement('popUpSuppression'); " />
                        <div style="display: none; ">
                            @Ajax.ActionLink("Supprimer", "AfficherPopUpSuppSoldat", new { id = sdt.Id }, new AjaxOptions
                                {
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = "popUpSuppression",
                                    HttpMethod = "GET"
                                }, new { id = "supp_" + sdt.Id.ToString().Substring(0, 8) })
                        </div>
                    </div>
                }
            </div>
        }
    }
}

<div class="row">
    <div class="col-6">
        <h2 class="titreLegend titreGroupe"> Informations complémentaires </h2>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <strong> Chant compagnie : </strong> @Model.Cie.Chant
    </div>
    <div class="col-6">
        <strong> Chant section : </strong> @Model.Section.Chant
    </div>
</div>
<div class="row">
    <div class="col-6">
        <strong> Devise compagnie : </strong> @Model.Cie.Devise
    </div>
    <div class="col-6">
        <strong> Devise section : </strong> @Model.Section.Devise
    </div>
</div>
