<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("style", required: false)
</head>
<body>
    <header>
        <img src="~/Content/image/blason_six.png" alt="blason six" id="blasonSixLayout" />
        @Html.ActionLink("Acceuil", "Index", "Home", null, new { id = "lienBanniere", style = "display:none;" })
        <img src="~/Content/image/couverture_uir_short.jpg" alt="bannière UIR" id="banniere" onclick="clickOn('lienBanniere')" />
        <div id="iconeIdentite">
            <img src="~/Content/image/icone_soldat.png" alt="icone soldat" id="iconeSoldat" onclick="afficherCacherElement('menuPerso'); " />
            <div id="userGrade" onclick="afficherCacherElement('menuPerso'); "> @ViewBag.Grade @ViewBag.Nom </div>
            <div id="menuPerso" style="display: none; ">
                <div class="row elemMenuPerso">
                    @Html.ActionLink("Mon profil", "Index", "Profil", null, new { @class = "lienMenuPerso" })
                </div>
                <div class="row elemMenuPerso">
                    @Html.ActionLink("Ma section", "Index", "Section", null, new { @class = "lienMenuPerso" })
                </div>
                <div class="row elemMenuPerso">
                    @Html.ActionLink("Planning", "Index", "Planning", null, new { @class = "lienMenuPerso" })
                </div>
                <div class="row elemMenuPerso">
                    Contact
                </div>
                <div class="row elemMenuPerso">
                    @Html.ActionLink("Changer mon mot de passe", "ModifMdp", "Profil", null, new { @class = "lienMenuPerso" })
                </div>
                <div class="row elemMenuPerso">
                    @Html.ActionLink("Déconnexion", "Deconnexion", "Login", null, new { @class = "lienMenuPerso" })
                </div>
                <div class="row">
                    <img src="~/Content/image/icone_fermeture.png" alt="Fermer" id="fermerMenu" onclick="afficherCacherElement('menuPerso'); " />
                </div>
            </div>
        </div>
    </header>

    <div id="menu">
        <div class="row">
            <div class="menuItem col-3 borderDroite"> @Html.ActionLink("ACCUEIL", "Index", "Home", null, new { @class = "lienMenu" }) </div>
            <div class="menuItem col-3 borderDroite" onclick="afficherCacherElement('sousMenuEvent'); ">
                <div class="lienMenu"> EVENEMENT </div>
                <div class="sousMenu" id="sousMenuEvent" style="display: none;">
                    <div class="sousMenuItem borderBas">
                        @Html.ActionLink("Planning", "Index", "Planning", null, new { @class = "lienMenu" })
                    </div>
                    <div class="sousMenuItem borderBas">
                        @Html.ActionLink("Tous les événements", "Liste", "Planning", null, new { @class = "lienMenu" })
                    </div>
                    @if (ViewBag.Role < 4)
                    {
                        <div class="sousMenuItem">
                            @Html.ActionLink("Créer un événement", "Ajouter", "Planning", null, new { @class = "lienMenu" })
                        </div>
                    }
                </div>
            </div>
            <div class="menuItem col-3 borderDroite"> @Html.ActionLink("CONNAISSANCES", "Index", "Cours", null, new { @class = "lienMenu" }) </div>
            <div class="menuItem col-3"> @Html.ActionLink("SOUVENIR", "Index", "Souvenir", null, new { @class = "lienMenu" }) </div>
        </div>
    </div>

    <div id="background" style="display:none;" onclick="fermerAllPopUp(); "></div>

    <div id="corpsDePage" class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/popper")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Content/JavaScript/autoload.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
