@model PortailReserve.ViewModel.AcceuilViewModel
@{
    ViewBag.Title = "Acceuil";
}

@section style{
    <link rel="stylesheet" href="~/Content/CSS/home.css" />    
}

<h1> Bienvenue sur le portail de la 6e Compagnie de réserve du 92e R.I </h1>

<div class="container">
    <div class="row">
        <div class="col-3 boiteAcceuil champsTextGauche" onclick="clickOn('iconeProfil'); ">
            @Html.ActionLink("Profil", "Index", "Profil", null, new { id = "iconeProfil", style = "display: none; " })
            <img src="~/Content/image/icone_profile.png" alt="Profile" class="imageBoiteAcceuil" />
            <h2 class="text-center titreBoiteAcceuil"> Gestion de profil </h2>
        </div>
        <div class="col-3 boiteAcceuil champsTextCenter" onclick="clickOn('iconeSection'); ">
            @Html.ActionLink("Section - Groupe", "Index", "Section", null, new { id = "iconeSection", style = "display: none;" })
            <img src="~/Content/image/icone_groupe.png" alt="Groupe" class="imageBoiteAcceuil" />
            <h2 class="text-center titreBoiteAcceuil"> Section <br/> - <br/> Groupe </h2>
        </div>
        <div class="col-3 boiteAcceuil champsTextDroit" onclick="clickOn('iconeCours'); ">
            @Html.ActionLink("Cours", "Index", "Cours", null, new { id = "iconeCours", style = "display: none;" })
            <img src="~/Content/image/icone_cours.png" alt="Cours" class="imageBoiteAcceuil" />
            <h2 class="text-center titreBoiteAcceuil"> Cours </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-12 boiteAcceuil boiteEvent">
            <div class="row">
                <div class="col-6" id="eventProche" onclick="clickOn('prochainEvent'); ">
                    
                    <h2 class="text-center titreBoiteAcceuil"> Prochain événement </h2>
                    @if(Model.HasProchainEvent)
                    {
                        @Html.ActionLink("Event", "Evenement", "Planning", new { id = Model.ProchainEvent.Id}, new { id = "prochainEvent", style = "display: none; "})
                        <div id="nextEvent">
                            <div class="row">
                                <div class="col-12">
                                    <strong> @Model.ProchainEvent.Nom </strong>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-1">
                                    @if (Model.ProchainEvent.Type.Equals("Instruction"))
                                    {
                                        <img src="~/Content/image/point_vert.png" alt="point vert" id="pastilleType" />
                                    }
                                    else if (Model.ProchainEvent.Type.Equals("Stage"))
                                    {
                                        <img src="~/Content/image/point_bleu.png" alt="point bleu" id="pastilleType" />
                                    }
                                    else if (Model.ProchainEvent.Type.Equals("Mission"))
                                    {
                                        <img src="~/Content/image/point_rouge.png" alt="point rouge" id="pastilleType" />
                                    }
                                    else if (Model.ProchainEvent.Type.Equals("Exercice"))
                                    {
                                        <img src="~/Content/image/point_jaune.png" alt="point jaune" id="pastilleType" />
                                    }
                                    else
                                    {
                                        <img src="~/Content/image/point_vert.png" alt="point vert" id="pastilleType" />
                                    }
                                </div>
                                <div class="col-11">
                                    @Model.ProchainEvent.Type
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    Du @Model.ProchainEvent.Debut.ToString("D", new System.Globalization.CultureInfo("fr-FR")) au @Model.ProchainEvent.Fin.ToString("D", new System.Globalization.CultureInfo("fr-FR"))
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        @Html.ActionLink("Nothing", "", "", null, new { style = "display: none;" });
                        <div id="noEvent">
                            Pas d'événement à venir
                        </div>
                    }
                </div>
                <div class="col-6" id="tousEvent" onclick="clickOn('allEvent'); ">
                    @Html.ActionLink("Planning", "Index", "Planning", null, new { id = "allEvent", style = "display: none; "})
                    <img src="~/Content/image/icone_planning.png" alt="plaaning" class="imageEvent" />
                    <h2 class="text-center titreBoiteAcceuil"> Voir tous les événements </h2>
                </div>
            </div>
        </div>
    </div>
</div>

