@model PortailReserve.Models.Utilisateur
@{
    ViewBag.Title = "Login";
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/CSS/login.css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <img src="~/Content/image/blason_ri.png" alt="blason RI" id="blasonRI" />
        <img src="~/Content/image/blason_six.png" alt="blason six" id="blasonSix" />
        <img src="~/Content/image/couverture_uir_short.jpg" alt="bannière UIR" id="banniere" />
    </header>

    <div class="container">

        <div class="row">
            <div id="form" class="col-6">
                <h1 id="titreAuth"> Authentification </h1>
                @using (Html.BeginForm())
                {
                    <div class="row">
                        @Html.LabelFor(m => m.Matricule, null, new { @class = "col-12" })
                    </div>
                    <div class="row">
                        @Html.TextBoxFor(m => m.Matricule, null, new { @class = "col-6 champsText" })
                    </div>

                    <div class="row">
                        @Html.LabelFor(m => m.MotDePasse, null, new { @class = "col-12" })
                    </div>
                    <div class="row">
                        @Html.TextBoxFor(m => m.MotDePasse, new { type = "password", @class = "col-6 champsText" })
                    </div>
                    <div class="row erreur">
                        <div class="col-12">
                            @Html.ValidationMessageFor(m => m.MotDePasse)
                        </div>
                    </div>

                    <div class="row">
                        <input type="submit" value="Valider" class="col-4 btnSubmit" />
                    </div>
                }
                <div id="mdpOublie" class="col-6">
                    Mot de passe oublié
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>

