@model PortailReserve.ViewModel.PremiereCoViewModel
@{
    ViewBag.Title = "Première connexion";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/CSS/login.css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <img src="~/Content/image/blason_ri.png" alt="blason RI" id="blasonRI" />
        <img src="~/Content/image/blason_six.png" alt="blason six" id="blasonSix" />
        <img src="~/Content/image/couverture_uir_short.jpg" alt="bannière UIR" id="banniere" />
    </header>

    <div class="container">
        <div class="row">
            <div id="premiereCo" class="col-12">
                <div class="row">
                    <div class="col-12">
                        <h1> Première connexion </h1>           
                    </div>
                </div>

                @using(Html.BeginForm())
                {
                    <div class="row formPart">
                        <fieldset class="col-12">
                            <legend class="col-12 titreLegend"> Changement du mot de passe </legend>
                            <div class="row">
                                @Html.LabelFor(m => m.Mdp, "Nouveau mot de passe", new { @class = "col-12" })
                            </div>
                            <div class="row">
                                @Html.TextBoxFor(m => m.Mdp, new { type = "password", @class = "col-6 champsText champsTextCenter", required = "required" })
                            </div>
                            <div class="row">
                                @Html.LabelFor(m => m.MdpBis, "Retaper le nouveau mot de passe", new { @class = "col-12" })
                            </div>
                            <div class="row">
                                @Html.TextBoxFor(m => m.MdpBis, new { type = "password", @class = "col-6 champsText champsTextCenter", required = "required" })
                            </div>
                            <div class="row erreur">
                                <div class="col-12">
                                    <span id="erreurMdp">@Html.ValidationMessageFor(m => m.Mdp)</span>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="row formPart">
                        <fieldset class="col-12">
                            <legend class="col-12 titreLegend"> Identité </legend>
                            <div class="row">
                                @Html.LabelFor(m => m.Util.Nom, new { @class = "col-1 text-right labelMiddle" })
                                @Html.TextBoxFor(m => m.Util.Nom, new { @class = "col-4 champsText champsTextGauche", required = "required" })
                                @Html.LabelFor(m => m.Util.Prenom, new { @class = "col-1 text-right labelMiddle" })
                                @Html.TextBoxFor(m => m.Util.Prenom, new { @class = "col-4 champsText champsTextGauche", required = "required" })
                            </div>

                            <div class="row">
                                @Html.LabelFor(m => m.Util.Email, new { @class = "col-1 text-right labelMiddle" })
                                @Html.TextBoxFor(m => m.Util.Email, new { @class = "col-4 champsText champsTextGauche", required = "required" })
                                @Html.LabelFor(m => m.Util.Telephone, new { @class = "col-1 text-right labelMiddle" })
                                @Html.TextBoxFor(m => m.Util.Telephone, new { @class = "col-4 champsText champsTextGauche", required = "required" })
                            </div>

                            <div class="row">
                                @Html.LabelFor(m => m.Util.Naissance, new { @class = "col-4 text-right labelMiddle"})
                                @Html.TextBoxFor(m => m.Util.Naissance, Model.Util.Naissance.ToString("yyyy-MM-dd"), new { type = "date", @class = "col-4 champsText champsTextGauche", required = "required" })
                            </div>

                            <div class="row erreur">
                                <div class="col-12">
                                    <span id="erreurMail"> @Html.ValidationMessageFor(m => m.Util.Email) </span>
                                </div>
                            </div>
                            <div class="row erreur">
                                <div class="col-12">
                                    <span id="erreurTel"> @Html.ValidationMessageFor(m => m.Util.Telephone) </span>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <div class="row formPart">
                        <fieldset class="col-12">
                            <legend class="col-12 titreLegend"> Adresse </legend>
                            <div class="row">
                                @Html.LabelFor(m => m.Adr.Voie, new { @class = "col-4 text-right labelMiddle" })
                                @Html.TextBoxFor(m => m.Adr.Voie, new { @class = "col-4 champsText champsTextGauche", required = "required" })
                            </div>

                            <div class="row">
                                @Html.LabelFor(m => m.Adr.CodePostal, new { @class = "col-1 text-right" })
                                @Html.TextBoxFor(m => m.Adr.CodePostal, new { @class = "col-4 champsText champsTextGauche", required = "required" })
                                @Html.LabelFor(m => m.Adr.Ville, new { @class = "col-1 text-right labelMiddle"})
                                @Html.TextBoxFor(m => m.Adr.Ville, new { @class = "col-4 champsText champsTextGauche", required = "required" })
                            </div>

                            <div class="row">
                                @Html.LabelFor(m => m.Adr.Pays, new { @class = "col-4 text-right labelMiddle"})
                                @Html.TextBoxFor(m => m.Adr.Pays, new { @class = "col-4 champsText champsTextGauche", required = "required" })
                            </div>

                            <div class="row erreur">
                                <div class="col-12">
                                    <span id="erreurCp"> @Html.ValidationMessageFor(m => m.Adr.CodePostal) </span>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <div class="row formPart">
                        <input type="submit" value="Valider" class="col-4 btnSubmit" id="subPremierCo" disabled="disabled" />
                    </div>
                }
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Content/JavaScript/premiereCo.js"></script>
</body>
</html>

