@model PortailReserve.Models.Utilisateur
@{
    ViewBag.Title = "Première connexion";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/CSS/login.css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <img src="~/Content/image/blason_ri.png" alt="blason RI" id="blasonRI" />
        <img src="~/Content/image/blason_six.png" alt="blason six" id="blasonSix" />
        <img src="~/Content/image/couverture_uir_short.jpg" alt="bannière UIR" id="banniere" />
    </header>

    <div class="container">
        <div id="premiereCo" class="row col-10">

        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>

