@model PortailReserve.ViewModel.ProfilViewModel
@{
    ViewBag.Title = "Mon profil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section style {
    <link rel="stylesheet" href="~/Content/CSS/profil.css" />
}

<h1> Mon profil </h1>

<div class="container">
    <h2 class="titreLegend"> Identité </h2>
    <div class="row elemProfil">
        <div class="col-6">
            <strong> Nom : </strong> @Model.Util.Nom
        </div>
        <div class="col-6">
            <strong> Prénom : </strong> @Model.Util.Prenom
        </div>
    </div>
    <div class="row elemProfil">
        <div class="col-6">
            <strong> Email : </strong> @Model.Util.Email
        </div>
        <div class="col-6">
            <strong> Téléphone : </strong> @Model.Util.Telephone
        </div>
    </div>
    <div class="row elemProfil">
        <div class="col-12">
            <strong> Date de naissance : </strong> @Model.Util.Naissance.ToString("dd/MM/yyyy")
        </div>
    </div>

    <h2 class="titreLegend"> Adresse </h2>
    <div class="row elemProfil">
        <div class="col-12">
            <strong> Adresse : </strong> @Model.Adr.Voie
        </div>
    </div>
    <div class="row elemProfil">
        <div class="col-6">
            <strong> Code postal : </strong> @Model.Adr.CodePostal
        </div>
        <div class="col-6">
            <strong> Ville : </strong> @Model.Adr.Ville
        </div>
    </div>
    <div class="row elemProfil">
        <div class="col-12">
            <strong> Pays : </strong> @Model.Adr.Pays
        </div>
    </div>

    <h2 class="titreLegend"> Situation militaire organique </h2>
    @if (Model.Util.Section == -1 && Model.Util.Compagnie == -1)
    {
        <div class="row">
            <div class="col-12">
                Vous êtes affecté à aucune section.
            </div>
        </div>
    }
    else
    {
        <div class="row elemProfil">
            <div class="col-6">
                <strong> Compagnie : </strong> @Model.Cie.Numero
            </div>
            <div class="col-6">
                <strong> Commandant d'unité : </strong> @Model.Cdu.Grade @Model.Cdu.Nom.ToUpperInvariant()
            </div>
        </div>
        <div class="row elemProfil">
            <div class="col-6">
                @if (Model.Section.Numero == 0)
                {
                    <strong> Section Commandement </strong>
                }
                else
                {
                    <strong> Section : </strong> @Model.Section.Numero
                }
            </div>
            @if (Model.Section.Numero != 0)
            {
                <div class="col-6">
                    <strong> Chef de section : </strong> @Model.Cds.Grade @Model.Cds.Nom.ToUpperInvariant()
                </div>
            }
        </div>
        if (Model.Grp.Numero != -1)
        {
            <div class="row elemProfil">
                <div class="col-6">
                    <strong> Groupe : </strong> @Model.Grp.Numero
                </div>
                <div class="col-6">
                    <strong> Chef de groupe : </strong> @Model.Cdg.Grade @Model.Cdg.Nom.ToUpperInvariant()
                </div>
            </div>
        }
    }

    <div class="row">
        <div class="col-4 selfCenter">
            <button class="bouton boutonBleu col-12" onclick="clickOn('modifProfil'); ">
                @Html.ActionLink("Modifier mes informations", "Modifier", "Profil", null, new { @class = "lienBoutonBleu", id = "modifProfil" })
            </button>
        </div>
    </div>
</div>

